html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: aliceblue;
}
.bcg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../public/123456.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  z-index: -1;
  /* Đặt lớp nền ở dưới cùng */
  opacity: 0.9;
}

/* .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: rgba(209, 15, 15, 0.308);
    filter: blur(3px);
  } */
.container {
  /* border: 2px solid blue; */
  width: 100%;
  height: 100vh;
  /*  */
}

.header {
  /* border: 1px solid red; */
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 100;
  font-size: 2rem;
  color: rgb(75, 171, 255);
  display: flex;
  position: fixed;
  justify-content: space-around;
  background-color: rgba(48, 48, 48, 0.753);
}

.logo {
  /* border: 1px solid rgb(230, 26, 213); */
  width: 8%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-left: 7%;
}

.menu {
  /* border: 1px solid rgb(86, 13, 255); */
  width: 48%;
  height: auto;
  margin-left: 10%;
  display: flex;
  justify-content: space-around;
}

.about {
  /* border: 1px solid rgb(22, 228, 22); */
  width: 13%;
  height: 100%;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;

}

.about:hover {
  border: 3px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  /* background-color: rgba(221, 221, 221, 0.295); */
}

.abc {
  margin-left: 10px;
}

.ani {
  /* border: 1px solid red; */
  width: 5%;
  height: auto;
  overflow: hidden;
}

.gif {
  width: 100%;
  height: auto;
}

.center {
  /* border: 2px solid black; */
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

.infor {
  /* border: 2px solid red; */
  width: 40%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/

  justify-content: space-between;
}

.avatar {
  /* border: 2px solid rgb(146, 67, 113); */
  width: 30%;
  height: 60%;
  margin-left: -13%;
  /* overflow: hidden; */

}
.avatar img{
  width: 160%;
  height: auto;
  margin-top: -13%;
  margin-left: -25%;
}


.hello {
  /* border: 2px solid blue; */
  width: 100%;
  height: 40%;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: aliceblue;

}

.hello span {
  margin-left: 7px;
  color: rgb(40, 187, 255);
}

.hello:nth-last-child(1) {
  font-size: 1.2rem;
  font-weight: normal;
}

.descript {
  font-size: 1.2rem;
  color: aliceblue;
  width: 100%;
}

.descript span {
  color: rgb(40, 187, 255);
}

.des {
  /* border: 2px solid blue; */
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  font-size: 45px;
}

.hi-there {
  /* border: solid 1px yellow; */
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 3rem;
  color: aliceblue;
  font-family: Montserrat;
}

.hand-hi {
  /* border: 1px solid yellow; */
  max-width: 100px;
  max-height: 100%;
  height: auto;
  width: auto;
  margin-left: 5%;
  color: aliceblue;
  font-size: 3.5rem;
  font-weight: lighter;
  display: flex;
  align-items: center;
  animation: rotate 1s linear infinite;

}

@keyframes rotate {
  0% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}


/*----page about-----*/

.container-2 {
  /* border: 2px solid blue; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-introduce {
  /* border: 2px solid blue; */
  width: 100%;
  height: 65%;
  margin-top: 8%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.introduce {
  /* border: 2px solid rgb(255, 94, 0); */
  width: 53%;
  height: 100%;
  margin-left: 9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 10px; */

}

.title {
  /* border: 2px solid green; */
  width: 70%;
  height: 17%;
  margin-left: 15%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  /* font-family: Montserrat; */
}

.title span {
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(0, 174, 255);
}

.intro {
  /* border: 2px solid green; */
  width: 100%;
  height: 20%;
  color: aliceblue;
  font-size: 1.1rem;
}

.intro a {
  display: block;
  font-size: 1.3rem;
}

.intro span {
  color: rgb(0, 174, 255);
}

.my-picture {
  /* border: 2px solid rgb(238, 19, 19); */
  width: 25%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-pic {
  margin-top: 10%;
  border: 1px solid rgb(255, 93, 193);
  box-shadow: 0 0 30px 7px rgba(211, 154, 194, 0.486);
  border-radius: 50px;
  width: 100%;
  height: 90%;
}

.buttons {
  /* border: 1px solid red; */
  margin-top: 5%;
  width: 25%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid rgba(151, 151, 151, 0.726);
  font-size: 1rem;
  color: rgba(48, 48, 48, 0.877);
}

.buttons button:hover {
  background-color: rgba(187, 187, 187, 0.877);
  color: white;
  border-color: rgba(96, 116, 233, 0.795);
}

button:active {
  background-color: rgba(235, 235, 235, 0.918);
  border: 1px solid black;
  color: aquamarine;
}

.social-network {
  /* border: 1px solid red; */
  width: 30%;
  height: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.find-me {
  /* border: 1px solid green; */
  width: fit-content;
  height: auto;
  font-size: 2rem;
  color: rgb(0, 174, 255);
  font-weight: bold;
}

.social {
  /* border: 1px solid green; */
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.856);
  cursor: pointer;
}

.fb {
  width: auto;
  height: auto;
  cursor: pointer;
}
.fb a{
  text-decoration: none;
  color: aliceblue;
}
.fb a:hover {
  color: rgba(139, 222, 255, 0.911);
}
/*-----projects----*/
.container-3 {
  border: 2px solid rgba(0, 0, 0, 0.692);
  border-bottom: none;
  border-right: none;
  border-left: none;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */

}

.on-top {
  /* border: 1px solid red; */
  width: fit-content;
  height: auto;
  font-size: 3rem;
  cursor: pointer;
  color: rgb(77, 175, 255);
  font-weight: bold;
  margin-top: 6%;
}

.tool-use {
  /* border: 1px solid red; */
  width: 50%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tool {
  /* border: 1px solid rgb(25, 231, 94); */
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: aliceblue;
  gap: 5%;
  /* justify-content: space-between; */
  font-size: 1.5rem;
}

.tool span {
  font-size: 1rem;
}

.product {
  /* border: 1px solid red; */
  width: 75%;
  height: 63%;
  display: flex;
}

.webs {
  /* border: 1px solid rgb(255, 19, 235); */
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.name {
  background-color: rgba(149, 172, 214, 0.37);
  border: 1px solid rgb(13, 57, 255);
  border-radius: 50px;
  width: 40%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-family: Montserrat;
  color: aliceblue;
}

.mod {
  border: 2px solid rgba(107, 107, 107, 0.315);
  border-bottom: none;
  border-top: none;
  width: 100%;
  height: 90%;
  color: aliceblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Khoảng cách giữa các phần tử */
  justify-content: space-around;
  align-content: space-around;
}
.mod .fb{
  margin-left: 20%;
  font-size: 3rem;
  border: 1px solid rgba(116, 188, 255, 0.884);
  border-radius: 30%;
  width: max-content;
  height: max-content;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.452); */
  transition: box-shadow 0.3s ease;
}
.mod .fb:hover{
  /* color: rgb(159, 228, 255); */
  /* background-color: rgba(255, 255, 255, 0.404); */
  box-shadow: 0 0 10px 1px rgba(150, 213, 255, 0.7);
}